:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#toolbar {
  position: absolute;
  top: 20px;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 16px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

#toolbar button,
#toolbar input[type="color"],
#toolbar input[type="number"] {
  background-color: #f0f0f0;
  border-color: transparent;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  width: 50px;
  padding: 3px;
}

#toolbar button:hover,
#toolbar input:hover {
  background-color: #e5e5e5;
}

#toolbar button.active {
  border-color: #393939;
}

#toolbar input[type="color"] {
  width: 38px;
  background: transparent;
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#toolbar input[type="number"] {
  width: 50px;
  padding: 7px 10px;
}

#toolbar button img {
  display: block;
  margin: 0 auto;
}

#canvas {
  border-radius: 14px;
  border: 2px solid #ffffff;
  background-color: #fff;
  position: absolute;
}